<%- include('header') %>

    <main class="main single-page">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> About us
                </div>
            </div>
        </div>
        <section class="section-padding">
            <div class="container pt-25">
                <div class="row">
                    <div class="col-lg-6 align-self-center mb-lg-0 mb-4">
                        <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">ABOUT ShopNest</h6>
                        <h1 class="font-heading mb-40">
                            Welcome to the world of an exclusive international fashion brand!
                        </h1>
                        <p>"Welcome to ShopNest, a journey that began in 1986 with a vision to create a haven for shoppers seeking quality, variety, and unparalleled customer service. Our story is one of passion, dedication, and a commitment to enhancing your shopping experience.</p>
                        <p> Founded in the vibrant year of 1986, ShopNest has evolved into more than just a store; it's a destination where generations of customers have discovered treasures, celebrated milestones, and found joy in the act of shopping. With a rich history spanning over three decades, our brand has become synonymous with trust and reliability</p>
                        <p>Join us in celebrating the years of growth, innovation, and a steadfast commitment to bringing you the best in quality and style. Thank you for being a part of the ShopNest family – where every shopping experience is a story worth telling."</p>
                    </div>
                
                    <div class="col-lg-6">
                        <img src="#" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section id="team" class="pt-25 wow fadeIn animated">
            <div class="container">
                <div class="row mb-50 align-items-center">
                    <div class="col-md-6">
                        <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Team</h6>
                        <h2 class="mb-15 wow fadeIn animated">Top team of experts</h2>
                        
                    </div>
                    <div class="col-md-6 text-md-end mt-30">
                      
                    </div>
                </div>
                <div class="position-relative">
                    <div class="row wow fadeIn animated">
                        <div class="col-lg-3 col-md-6">
                            <div class="blog-card border-radius-10 overflow-hidden text-center">
                                <img src="https://mail.google.com/mail/u/0?ui=2&ik=e4f7672df1&attid=0.1&permmsgid=msg-f:1778749805925305943&th=18af638636790e57&view=att&disp=safe" alt="" class="border-radius-10 mb-30 hover-up">
                                <h4 class="fw-500 mb-0">Aswathy Jinse</h4>
                                <p class="fw-400 text-brand mb-10">CEO </p>
                                <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0 animated">
                                   
                                   
                                    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                   
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
        <section id="work" class="mt-40 pt-50 pb-50 section-border">
            <div class="container">
                <div class="row mb-50">
                    <div class="col-lg-12 col-md-12 text-center">
                        <h6 class="mt-0 mb-5 text-uppercase  text-brand font-sm wow fadeIn animated">ShopNest Coporation</h6>
                        <h2 class="mb-15 text-grey-1 wow fadeIn animated">Our main branches<br> around the world</h2>
                        <p class="w-50 m-auto text-grey-3 wow fadeIn animated">ShopNest has several branches over the word....You can explore with ShopNest</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center mb-md-0 mb-4">
                        <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="https://i.pinimg.com/736x/85/cb/b5/85cbb5d5c9bc1427745a5b9e83aff498.jpg" alt="">
                        <h4 class="mt-30 mb-15 wow fadeIn animated">New York, USA</h4>
                        <p class="text-grey-3 wow fadeIn animated">27 Division St, New York<br>NY 10002, USA</p>
                    </div>
                    <div class="col-md-4 text-center mb-md-0 mb-4">
                        <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="https://i.pinimg.com/564x/3d/4c/12/3d4c12e76541956aa57ee8b154be178a.jpg" alt="">
                        <h4 class="mt-30 mb-15 wow fadeIn animated">Paris, France</h4>
                        <p class="text-grey-3 wow fadeIn animated">22 Rue des Carmes<br> 75005 Paris</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="https://i.pinimg.com/564x/ee/57/bc/ee57bc9e37fc591d3ca15bc09760e573.jpg" alt="">
                        <h4 class="mt-30 mb-15 wow fadeIn animated">Jakarta, Indonesia</h4>
                        <p class="text-grey-3 wow fadeIn animated">2476 Raya Yogyakarta,<br>89090 Indonesia</p>
                    </div>
                </div>
            </div>
        </section>
       
    </main>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('footer') %>
   